{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">

		{% if products %}
			{% for index, product in products %}
				<div class="col-sm-4 col-md-3 box">
					{% include 'products/partials/item.twig' with { product : product } %}
				</div>
				{% if (index + 1) % 4 == 0 %}
				</div>
				<div class="row">
				{% endif %}
			{% endfor %}
		{% else %}
			<div class="col-md-12">
				<p>No products found.</p>
			</div>
		{% endif %}
	</div>

{% endblock %}
